.tableauContainer {
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin-top: 20%;
}

.tableauColumn {
    display: flex;
    flex-direction: column;
}

.tableau-card-slot {
    margin-top: -100px;
}

.card.face-down {
    background-color: navy;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100px;
    height: 140px;
}

.empty-tableau-column-slot {
    border: 2px solid black;
    width: 100px;
    height: 140px;
    margin-top: -100px;
}
